body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #727272;
	background-image: repeating-linear-gradient(
		-45deg,
		#6a6a6a 0,
		#6a6a6a 2px,
		#727272 2px,
		#727272 11px
	);
	background-size: 16px 16px;
	height: 100%;
}
a {
	text-decoration: none;
}

.title {
	text-align: center;
	font-size: 3rem;
	margin-top: 10px;
}

.subtitle {
	text-align: center;
	margin-top: -30px;
}

/* Estilos formularios */
.team-form {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
	font-family: Arial, sans-serif;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.team-form h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #333;
	font-weight: bold;
}
.team-form label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	color: #555;
}
.team-form input[type='text'],
.team-form input[type='number'],
.team-form input[type='integer'] {
	width: calc(100% - 20px);
	padding: 8px 10px;
	margin-bottom: 15px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}
.team-form button {
	padding: 10px 20px;
	font-size: 14px;
	color: #fff;
	background-color: #2969ad;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}
.team-form button:hover {
	background-color: #03468e;
}
.team-form button[type='button'] {
	background-color: #494949;
}

.team-form button[type='button']:hover {
	background-color: #202020;
}
.team-form button:disabled {
	background-color: #8e8e8e;
	cursor: not-allowed;
}
.team-form fieldset {
	display: block;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #fff;
}
.team-form legend {
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

.ev-container {
	display: flex;
	justify-content: space-around;
}
.ev-container input[type='number'] {
	height: 25%;
	width: auto;
}
.sum-container {
	font-weight: bold;
	margin-top: 10px;
	color: #555;
	text-align: right;
}

/* Estilos paginado de equipos */
.team-list .team-hover {
	width: auto;
	height: auto;
	padding: 8px;
	font-size: 10pt;
	border-radius: 8px;
	border: 1px solid grey;
	box-shadow: 5 5px 5px rgba(0, 0, 0, 0.1);
}

.team-hover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 5px;
	border: 1px solid grey;
	background: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
	text-align: center;
}

.team-hover:hover {
	background-color: #b9b9b9;
	transform: scale(1.005);
}

.team-container {
	padding: 15px;
}

.team-list {
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.team-delete-button {
	background-color: #494949;
	border: none;
	color: white;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 5px;
	transition:
		background-color 0.3s ease,
		transform 0.2s ease;
	align-self: center;
}

.team-delete-button:disabled {
	background-color: #8e8e8e;
	cursor: not-allowed;
	transform: none;
}

.team-delete-button:hover {
	background-color: #f44336;
	transform: scale(1.05);
}

.team-detail-button {
	background-color: #494949;
	border: none;
	color: white;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 5px;
	transition:
		background-color 0.3s ease,
		transform 0.2s ease;
	align-self: center;
}

.team-detail-button:disabled {
	background-color: #8e8e8e;
	cursor: not-allowed;
	transform: none;
}

.team-detail-button:hover {
	background-color: #3643f4;
	transform: scale(1.05);
}

.team-members {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	list-style: none;
	padding: 0;
	margin: 10px 0;
}

.picon {
	width: 100px;
	height: 100px;
}

/* Estilos detalles equipos */
.integrantes {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin-bottom: 25px;
}

.integrante-card {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 15px;
	width: 300px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.integrante-card:hover {
	transform: scale(1.01);
	background-color: #b9b9b9;
}

.integrante-imagen {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
}

.stats-list {
	list-style: none;
	padding: 0;
}

.lista-movimientos,
.lista-estadisticas {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
}

movimientos li,
.estadisticas li {
	font-size: 14px;
	text-align: center;
}

/* Estilos tipos pokemon */
.pokemon-tipo {
	display: inline-block;
	padding: 6px 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 20px;
	color: #fff;
	text-transform: capitalize;
}

.pokemon-tipo.agua {
	background-color: #0080ff;
}

.pokemon-tipo.siniestro {
	background-color: #573e31;
}

.pokemon-tipo.normal {
	background-color: #797964;
}

.pokemon-tipo.planta {
	background-color: #5cb737;
}

.pokemon-tipo.fuego {
	background-color: #d52100;
}

.pokemon-tipo.agua {
	background-color: #6890f0;
}

.pokemon-tipo.eléctrico {
	background-color: #c90;
}

.pokemon-tipo.hielo {
	background-color: #0af;
}

.pokemon-tipo.lucha {
	background-color: #a84d3d;
}

.pokemon-tipo.veneno {
	background-color: #88447a;
}

.pokemon-tipo.tierra {
	background-color: #bf9926;
}

.pokemon-tipo.volador {
	background-color: #556dff;
}

.pokemon-tipo.psíquico {
	background-color: #ff227a;
}

.pokemon-tipo.bicho {
	background-color: #83901a;
}

.pokemon-tipo.roca {
	background-color: #a59249;
}

.pokemon-tipo.fantasma {
	background-color: #5454b3;
}

.pokemon-tipo.dragón {
	background-color: #4e38e9;
}

.pokemon-tipo.acero {
	background-color: #8e8ea4;
}

.pokemon-tipo.hada {
	background-color: #e76de7;
}
